<?xml version='1.0' encoding='UTF-8' ?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:form rendered="#{request.isUserInRole('ROLE_Gerente')}">
	<b:dataTable value="#{ formaPagamentoBean.list() }" var="fp"
		excel="true" csv="true" pdf="true" print="true" class="editableTable"
		customLangUrl="https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json">
		<b:dataTableColumn value="#{ fp.id }" style="text-align: center;" />
		<b:dataTableColumn value="#{ fp.descricao }"
			style="text-align: center;" />
		<b:dataTableColumn label="Ações" style="text-align: center;">
			<!-- Button Edit -->
			<b:commandButton icon="edit" ajax="true" update="@form"
				action="#{ formaPagamentoBean.setFormaPagamento(fp) }"
				oncomplete="$('.modalEditClass').modal();" />

			<!-- Button Remove -->
			<b:commandButton icon="remove" ajax="true" update="@form"
				action="#{ formaPagamentoBean.setFormaPagamento(fp) }"
				oncomplete="$('.modalRemoveClass').modal();" />
		</b:dataTableColumn>
	</b:dataTable>
	<b:modal id="modalDrop" title="Deseja remover a forma de pagamento?"
		styleClass="modalRemoveClass">
		<p>
			Forma de pagamento <strong>#{
				formaPagamentoBean.formaPagamento.descricao }</strong>
		</p>
		<f:facet name="footer">
			<b:button value="Cancelar" dismiss="modal" />
			<b:commandButton value="Ok" look="primary" ajax="true"
				update="@(.editableTable)"
				onclick="ajax:formaPagamentoBean.drop(#{ formaPagamentoBean.formaPagamento.id })"
				oncomplete="$('.modalRemoveClass').modal('hide');">
			</b:commandButton>
		</f:facet>
	</b:modal>

	<b:modal id="modalEdit" title="Alterar a forma de pagamento?"
		styleClass="modalEditClass">
		<b:inputText value="#{ formaPagamentoBean.formaPagamento.descricao }"
			label="Forma de pagamento: " />
		<f:facet name="footer">
			<b:button value="Cancelar" dismiss="modal" />
			<b:commandButton value="Ok" look="primary" ajax="true"
				update="@(.editableTable)" onclick="ajax:formaPagamentoBean.save()"
				oncomplete="$('.modalEditClass').modal('hide');">
			</b:commandButton>
		</f:facet>
	</b:modal>
</h:form>
</html>