<?xml version="1.0" encoding="UTF-8"?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
	<ui:composition>
		<b:form inline="true" rendered="#{request.isUserInRole('ROLE_Gerente')}">
			<b:inputText placeholder="Novo Fabricante" required="true" size="30"
				value="#{ fabricanteBean.fabricante.montadora }" label="">
				<f:facet name="prepend">
					<b:iconAwesome name="fa-car" />
				</f:facet>
				<f:facet name="append">
					<b:commandButton look="primary" value="Criar"
						action="#{ fabricanteBean.save }" />
				</f:facet>
			</b:inputText>
		</b:form>
	</ui:composition>
</body>
</html>