<?xml version="1.0" encoding="UTF-8"?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
	<ui:composition>
		<h:form>
			<b:dataTable value="#{ fabricanteBean.list() }" var="f" excel="true"
				csv="true" pdf="true" print="true" class="editableCarTable"
				rendered="#{request.isUserInRole('ROLE_Gerente')}"
				customLangUrl="https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json">
				<b:dataTableColumn value="#{ f.id }" style="text-align: center;" />
				<b:dataTableColumn value="#{ f.montadora }"
					style="text-align: center;" />
				<b:dataTableColumn label="Ações" style="text-align: center;">
					<!-- Button Edit -->
					<b:commandButton icon="edit" ajax="true" update="@form"
						action="#{fabricanteBean.setFabricante(f)}"
						oncomplete="$('.modalEditClass').modal();" />
					<!-- Button Remove -->
					<b:commandButton icon="remove" ajax="true" update="@form"
						action="#{fabricanteBean.setFabricante(f)}"
						oncomplete="$('.modalRemoveClass').modal();" />
				</b:dataTableColumn>
			</b:dataTable>
			<b:modal id="modalDrop" title="Deseja remover o fabricante?"
				styleClass="modalRemoveClass">
				<p>
					Fabricante: <strong>#{ fabricanteBean.fabricante.montadora
						}</strong>
				</p>
				<f:facet name="footer">
					<b:button value="Cancelar" dismiss="modal" />
					<b:commandButton value="Ok" look="primary" ajax="true"
						update="@(.editableCarTable)"
						onclick="ajax:fabricanteBean.drop(#{fabricanteBean.fabricante.id})"
						oncomplete="$('.modalRemoveClass').modal('hide');">
					</b:commandButton>
				</f:facet>
			</b:modal>

			<b:modal id="modalEdit" title="Alterar o fabricante?"
				styleClass="modalEditClass">
				<b:inputText value="#{ fabricanteBean.fabricante.montadora }"
					label="Montadora: " />
				<f:facet name="footer">
					<b:button value="Cancelar" dismiss="modal" />
					<b:commandButton value="Ok" look="primary" ajax="true"
						update="@(.editableCarTable)" onclick="ajax:fabricanteBean.edit()"
						oncomplete="$('.modalEditClass').modal('hide');">
					</b:commandButton>
				</f:facet>
			</b:modal>
		</h:form>
	</ui:composition>
</body>
</html>