<?xml version='1.0' encoding='UTF-8' ?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../index.xhtml">

	<ui:define name="content">
		<b:form inline="true" enctype="multipart/form-data"
			rendered="#{ request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente') }">
			<b:row>
				<b:column span="4">
					<b:inputText mask="9999" placeholder="Ano de Fabricação"
						required="true" value="#{ veiculoBean.veiculo.anoFabricacao }"
						label="">
						<f:facet name="prepend">
							<b:iconAwesome name="fa-calendar-o" />
						</f:facet>
					</b:inputText>
				</b:column>
				<b:column span="4">
					<b:inputText mask="AAA-9999" placeholder="Placa do veículo"
						required="true" value="#{ veiculoBean.veiculo.placa }" label="">
						<f:facet name="prepend">
							<b:iconAwesome name="fa-hand-o-right" />
						</f:facet>
					</b:inputText>
				</b:column>
				<b:column span="4">
					<b:inputText span="3" mask="decimal"
						placeholder="Cilidrada [ 1.0 | 1.6 | 2.0 ]" required="true"
						value="#{ veiculoBean.veiculo.cilidradas }" label="">
						<f:facet name="prepend">
							<b:iconAwesome name="fa-eye" />
						</f:facet>
					</b:inputText>
				</b:column>
			</b:row>

			<b:row>
				<b:column span="6">
					<b:inputText placeholder="Chassi do veículo" required="true"
						value="#{ veiculoBean.veiculo.chassi }" label="">
						<f:facet name="prepend">
							<b:iconAwesome name="fa-modx" />
						</f:facet>
					</b:inputText>
				</b:column>
				<b:column span="6">
					<b:selectOneMenu label="" value="#{ veiculoBean.veiculo.modelo }">
						<f:selectItem itemLabel="Escolha o Modelo" itemValue="" />
						<f:selectItems value="#{ veiculoBean.getModelos() }" var="m"
							itemValue="#{ m }" itemLabel="#{ m.descricao }" />
					</b:selectOneMenu>
				</b:column>
			</b:row>

			<div class="form-group">
				<span class="input-group"> <h:inputFile label=""
						value="#{ veiculoBean.image }"
						styleClass="btn btn-default btn-file">
						<f:validator validatorId="fileUploadValidator" />
						<f:ajax listener="#{ veiculoBean.uploadImage() }" />
					</h:inputFile>
				</span>
			</div>

			<b:commandButton look="primary" value="Criar"
				action="#{ veiculoBean.save }" />
		</b:form>
	</ui:define>

</ui:composition>

</html>