<?xml version='1.0' encoding='UTF-8' ?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../index.xhtml">

	<ui:define name="content">
		<h:form
			rendered="#{ request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente') }">

			<b:panel title="Deseja filtrar por:" collapsible="false" size="xs"
				columns="4" id="painel">

				<b:row>
					<b:column medium-screen="4">
						<b:selectBooleanCheckbox id="checkboxAno"
							value="#{ veiculoBean.ano }"
							update="painel checkboxPlaca checkboxModelo" label="" caption="Ano"
							ajax="true"
							onclick="ajax:veiculoBean.setElement('ano')"
							disabled="#{ veiculoBean.ano }" />
					</b:column>
					<b:column medium-screen="4">	
						<b:selectBooleanCheckbox id="checkboxPlaca"
							value="#{ veiculoBean.placa }"
							update="painel checkboxAno checkboxModelo" label="" caption="Placa"
							ajax="true"
							onclick="ajax:veiculoBean.setElement('placa')"
							disabled="#{ veiculoBean.placa }" />
					</b:column>
					<b:column medium-screen="4">
						<b:selectBooleanCheckbox id="checkboxModelo"
							value="#{ veiculoBean.modelo }"
							update="painel checkboxPlaca checkboxAno" label="" caption="Modelo"
							ajax="true"
							onclick="ajax:veiculoBean.setElement('modelo')"
							disabled="#{ veiculoBean.modelo }" />
					</b:column>
				</b:row>
				
				<b:inputText value="#{ veiculoBean.veiculoAno }" label=""
					mask="9999" class="editableAno" rendered="#{ veiculoBean.ano }">
					<b:focus rendered="true"/>
					<f:convertNumber type="number" />
				</b:inputText>
				<b:inputText value="#{ veiculoBean.veiculoPlaca }" label=""
					mask="AAA-9999" class="editablePlaca"
					rendered="#{ veiculoBean.placa }">
					<b:focus rendered="true"/>	
				</b:inputText>
				<b:selectOneMenu label="" value="#{ veiculoBean.veiculoModelo }"
					class="editableModelo" rendered="#{ veiculoBean.modelo }">
					<f:selectItem itemLabel="Escolha o Modelo" itemValue="" />
					<f:selectItems value="#{ veiculoBean.getModelos() }" var="m"
						itemValue="#{ m }" itemLabel="#{ m.descricao }" />
				</b:selectOneMenu>
				<b:commandButton value="Pesquisar" look="primary" ajax="true"
					update="@(.editableTable)" onclick="ajax:veiculoBean.setSearch(true)">
				</b:commandButton>
				<span>Caso opte por não marcar um item acima, vai ser
					retornado todos os registros</span>
			</b:panel>

			<b:dataTable value="#{ veiculoBean.list() }" var="v" excel="true"
				csv="true" pdf="true" print="true" class="editableTable"
				page-length="5" page-length-menu="5,10,20,30"
			    responsive="true"
				disabled="#{ veiculoBean.search or veiculoBean.ano or veiculoBean.placa or veiculoBean.modelo }"
				customLangUrl="https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json">

				<b:dataTableColumn value="#{ v.id }" style="text-align: center;" />
				<b:dataTableColumn value="#{ v.anoFabricacao }"
					label="Ano de fabricação" style="text-align: center;" />
				<b:dataTableColumn value="#{ v.chassi }" style="text-align: center;" />
				<b:dataTableColumn value="#{ v.placa }" style="text-align: center;" />
				<b:dataTableColumn label="Foto" style="text-align: center;">
					<b:commandButton ajax="true" update="@form"
						action="#{ veiculoBean.setVeiculo(v) }"
						oncomplete="$('.modalImageClass').modal();">
						<b:iconAwesome name="fa-picture-o" />
					</b:commandButton>
				</b:dataTableColumn>
				<b:dataTableColumn value="#{ v.cilidradas }"
					style="text-align: center;" />
				<b:dataTableColumn label="Ações" style="text-align: center;">
					<!-- Button Edit -->
					<b:commandButton icon="edit" ajax="true" update="@form"
						action="#{ veiculoBean.setVeiculo(v) }"
						oncomplete="$('.modalEditClass').modal();" />

					<!-- Button Remove -->
					<b:commandButton icon="remove" ajax="true" update="@form"
						action="#{ veiculoBean.setVeiculo(v) }"
						oncomplete="$('.modalRemoveClass').modal();" />
				</b:dataTableColumn>
			</b:dataTable>
			<b:modal id="modalDrop" title="Deseja remover o veículo?"
				styleClass="modalRemoveClass">
				<p>
					Ano de Fabricação: <strong>#{
						veiculoBean.veiculo.anoFabricacao }</strong>
				</p>
				<p>
					Chassi: <strong>#{ veiculoBean.veiculo.chassi }</strong>
				</p>
				<p>
					Placa: <strong>#{ veiculoBean.veiculo.placa }</strong>
				</p>
				<p>
					Cilidradas: <strong>#{ veiculoBean.veiculo.cilidradas }</strong>
				</p>
				<f:facet name="footer">
					<b:button value="Cancelar" dismiss="modal" />
					<b:commandButton value="Ok" look="primary" ajax="true"
						update="@(.editableTable)"
						onclick="ajax:veiculoBean.drop(#{ veiculoBean.veiculo.id })"
						oncomplete="$('.modalRemoveClass').modal('hide');">
					</b:commandButton>
				</f:facet>
			</b:modal>

			<b:modal id="modalEdit" title="Alterar o veículo?"
				styleClass="modalEditClass">
				<b:inputText value="#{ veiculoBean.veiculo.anoFabricacao }"
					label="Ano de Fabricação: " />
				<b:inputText value="#{ veiculoBean.veiculo.chassi }"
					label="Chassi: " />
				<b:inputText value="#{ veiculoBean.veiculo.placa }" label="Placa: " />
				<b:inputText value="#{ veiculoBean.veiculo.cilidradas }"
					label="Cilidradas: " />
				<b:formGroup span="3">
					<b:selectOneMenu label="Modelo:"
						value="#{ veiculoBean.veiculo.modelo }">
						<f:selectItem itemLabel="Escolha o Modelo" itemValue="" />
						<f:selectItems value="#{ veiculoBean.getModelos() }" var="m"
							itemValue="#{ m }" itemLabel="#{ m.descricao }" />
					</b:selectOneMenu>
				</b:formGroup>
				<f:facet name="footer">
					<b:button value="Cancelar" dismiss="modal" />
					<b:commandButton value="Ok" look="primary" ajax="true"
						update="@(.editableTable)" onclick="ajax:veiculoBean.save()"
						oncomplete="$('.modalEditClass').modal('hide');">
					</b:commandButton>
				</f:facet>
			</b:modal>
			<b:modal id="modalShowImage" styleClass="modalImageClass">
				<p:graphicImage
					rendered="#{ veiculoBean.search }"
					value="#{ veiculoBean.image() }"
					stream="false" 
					width="300px"
					height="300px"/>
			</b:modal>
		</h:form>
	</ui:define>

</ui:composition>

</html>