<?xml version='1.0' encoding='UTF-8' ?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="../index.xhtml">

	<ui:define name="content">

		<h:form>
			<b:panel title="Placa: #{ compraBean.compra.veiculo.placa }"
				collapsible="false"
				rendered="#{ (request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente')) and compraBean.compra ne null }">

				<b:row styleClass="show-grid">
					<b:column col-xs="12" col-sm="6" col-md="8">
						<h2>Veículo escolhido:</h2>
					</b:column>
					<b:column col-xs="12" col-sm="6" col-md="8">
						<p:graphicImage
							value="#{ veiculoBean.image(compraBean.compra.veiculo.foto)}"
							stream="false" width="100px" height="100px" />
					</b:column>
				</b:row>

				<b:panel title="Dados da compra" collapsible="false"
					rendered="#{ (request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente')) and compraBean.compra ne null }">
					<b:inputText label="Valor da compra"
						value="#{ compraBean.compra.preco }">
						<f:facet name="prepend">
							<b:iconAwesome name="fa-money" />
						</f:facet>
					</b:inputText>
					<b:datepicker mode="icon-popup" value="#{ compraBean.compra.data }"
						label="Data do pagamento: " />
					<b:inputTextarea placeholder="Observações"
						value="#{ compraBean.compra.observacao }" label="Observações"
						maxlength="200">
						<f:ajax event="keyup" render="label"
							listener="#{ compraBean.observacaoSize() }" />
					</b:inputTextarea>
					<b:label text="Caracteres restantes: #{ compraBean.qtdCaracteres }"
						id="label" />
				</b:panel>
			</b:panel>

			<b:commandButton action="index" style="float:right"
				onclick="ajax:compraBean.save()">
				<b:iconAwesome name="fa-arrow-right" /> Salvar
			</b:commandButton>
			<b:commandButton action="compra-flow-info" style="float:left">
				<b:iconAwesome name="fa-arrow-left" /> Anterior
			</b:commandButton>
		</h:form>

	</ui:define>

</ui:composition>

</html>