<?xml version='1.0' encoding='UTF-8' ?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="../index.xhtml">

	<ui:define name="content">
	
		<b:messages id="messages"
            globalOnly="true"
            severity="info"/>
            
		<b:form inline="true"
			rendered="#{ request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente') }">
			<b:inputText mask="AAA-9999" placeholder="Placa do veículo"
				required="true" label="" value="#{ compraBean.placa }">
				<f:facet name="prepend">
					<b:iconAwesome name="fa-car" />
				</f:facet>
				<b:focus rendered="true" />
			</b:inputText>
			<b:commandButton look="primary" action="compra-flow-info"
				action-listener="#{ compraBean.pesquisarVeiculoPorPlaca() }"
				style="float:right">
				<b:iconAwesome name="fa-search" /> Pesquisar
			</b:commandButton>
			<b:commandButton look="default" ajax="true" update="@form"
				onclick="ajax:compraBean.resetObject()"
				style="float:right; margin-right: 15px;">
				<b:iconAwesome name="fa-search" /> Limpar
			</b:commandButton>
		</b:form>
	</ui:define>

</ui:composition>

</html>