<?xml version='1.0' encoding='UTF-8' ?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="../index.xhtml">

	<ui:define name="content">
		<b:form inline="true"
			rendered="#{ request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente') }">
			<b:inputText mask="AAA-9999" placeholder="Placa do veículo" label="" value="#{ vendaBean.placa }">
				<f:facet name="prepend">
					<b:iconAwesome name="fa-car" />
				</f:facet>
				<b:focus rendered="true" />
				<f:facet name="append">
					<b:commandButton look="primary" action="pagamento-veiculo-flow"
						ajax="true"
						onclick="ajax:vendaBean.pesquisarVeiculoPorPlacaCompra() }">
						<b:iconAwesome name="fa-plus" /> Adicionar
			</b:commandButton>
				</f:facet>
			</b:inputText>

			<b:panel title="Veículos envolvidos" collapsible="false"
				rendered="#{ (request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente')) and vendaBean.venda ne null }">

				<b:dataTable value="#{ vendaBean.venda.comprasEnvolvidasVeiculo() }"
					var="compra" class="editableTable"
					customLangUrl="https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json">
					<b:dataTableColumn value="#{ compra.veiculo.placa }" style="text-align: center;"
						label="" />
					<b:dataTableColumn value="#{ compra.veiculo.chassi }"
						style="text-align: center;" />
					<b:dataTableColumn value="#{ compra.veiculo.modelo.descricao }"
						style="text-align: center;" />
					<b:dataTableColumn value="#{ compra.veiculo.anoFabricacao }"
						style="text-align: center;" />
					<b:dataTableColumn label="Ações" style="text-align: center;">
						<b:commandButton icon="remove" ajax="true" update="@form"
							action="#{ vendaBean.setCompra(compra) }"
							oncomplete="$('.modalRemoveClass').modal();" />
					</b:dataTableColumn>
				</b:dataTable>

				<b:modal id="modalDrop" title="Deseja remover o veículo da compra?"
					styleClass="modalRemoveClass">
					<p>Ano de Fabricação: <strong>#{ vendaBean.compra.veiculo.anoFabricacao }</strong></p>
					<p>Chassi: <strong>#{ vendaBean.compra.veiculo.chassi }</strong></p>
					<p>Placa: <strong>#{ vendaBean.compra.veiculo.placa }</strong></p>
					<p>Cilidradas: <strong>#{ vendaBean.compra.veiculo.cilidradas }</strong></p>
					<f:facet name="footer">
						<b:button value="Cancelar" dismiss="modal" />
						<b:commandButton value="Ok" look="primary" ajax="true"
							update="@(.editableTable)"
							onclick="ajax:veiculoBean.dropPartePagamentoVeiculo()"
							oncomplete="$('.modalRemoveClass').modal('hide');">
						</b:commandButton>
					</f:facet>
				</b:modal>

			</b:panel>

			<b:commandButton look="success" value="Próximo" action="resumo-flow"
				style="float:right" rendered="#{ vendaBean.venda.veiculo ne null }" />
			<b:commandButton action="pagamentos-flow" style="float:left">
				<b:iconAwesome name="fa-arrow-left" /> Anterior
			</b:commandButton>
		</b:form>
	</ui:define>

</ui:composition>

</html>