<?xml version='1.0' encoding='UTF-8' ?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="../index.xhtml">

	<ui:define name="content">

		<h:form>
			<b:panel title="Placa: #{ vendaBean.venda.veiculo.placa }"
				collapsible="false"
				rendered="#{ (request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente')) and vendaBean.venda ne null }">

				<b:row styleClass="show-grid">
					<b:column col-xs="12" col-sm="6" col-md="8">
						<h2>Veículo escolhido:</h2>
					</b:column>
					<b:column col-xs="12" col-sm="6" col-md="8">
						<p:graphicImage
							value="#{ veiculoBean.image(vendaBean.venda.veiculo.foto)}"
							stream="false" width="100px" height="100px" />
					</b:column>
				</b:row>


				<b:panel title="Dados da venda" collapsible="false"
					rendered="#{ (request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente')) and vendaBean.venda ne null }">
					<b:datepicker mode="icon-popup" value="#{ vendaBean.venda.data }"
						label="Data da venda " />
					<b:inputText label="Valor do desconto"
						value="#{ vendaBean.venda.desconto }" mask="numeric">
						<f:facet name="prepend">
							<b:iconAwesome name="fa-money" />
						</f:facet>
					</b:inputText>
					<b:inputText label="Valor da comissao"
						value="#{ vendaBean.venda.comissao }" mask="numeric">
						<f:facet name="prepend">
							<b:iconAwesome name="fa-money" />
						</f:facet>
					</b:inputText>
					<b:inputTextarea placeholder="Observações"
						value="#{ vendaBean.venda.observacao }" label="Observações"
						maxlength="200">
						<f:ajax event="keyup" render="label"
							listener="#{ vendaBean.observacaoVendaSize() }" />
					</b:inputTextarea>
					<b:label text="Caracteres restantes: #{ vendaBean.qtdCaracteresVenda }"
						id="label" />
				</b:panel>
			</b:panel>

			<b:commandButton look="success" value="Próximo"
				action="pagamentos-flow" style="float:right"
				rendered="#{ vendaBean.venda.veiculo ne null }" />
			<b:commandButton look="warning" value="Anterior" action="informacao-veiculo-flow"
				style="float:left" />
		</h:form>

	</ui:define>

</ui:composition>

</html>