<?xml version='1.0' encoding='UTF-8' ?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../index.xhtml">

	<ui:define name="content">
		<h:form
			rendered="#{ (request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente')) and vendaBean.venda ne null }">
			<b:panel title="Placa: #{ vendaBean.venda.veiculo.placa }"
				collapsible="false" rendered="#{ vendaBean.venda.veiculo ne null }">
				<b:row>
					<b:column medium-screen="8">
						<h3>Ano de Fabricação: #{
							vendaBean.venda.veiculo.anoFabricacao }</h3>
						<h3>Modelo: #{ vendaBean.venda.veiculo.modelo.descricao }</h3>
						<h3>Chassi: #{ vendaBean.venda.veiculo.chassi }</h3>
						<h3>Cilidradas: #{ vendaBean.venda.veiculo.cilidradas }</h3>
						<h3>Fabricante: #{
							vendaBean.venda.veiculo.modelo.fabricante.montadora }</h3>
					</b:column>
					<b:column medium-screen="4">
						<p:graphicImage
							value="#{ veiculoBean.image(vendaBean.venda.veiculo.foto)}"
							stream="false" width="150px" height="150px"
							rendered="#{ vendaBean.venda.veiculo ne null }" />
					</b:column>
				</b:row>
			</b:panel>
			<b:panel title="Placa não está disponível" collapsible="false"
				rendered="#{ vendaBean.venda.veiculo eq null }">
				<h3>Registro não encontrado !</h3>
			</b:panel>

			<b:commandButton look="success" value="Próximo"
				action="dados-venda-flow" style="float:right"
				rendered="#{ vendaBean.venda.veiculo ne null }" />
			<b:commandButton look="warning" value="Anterior" action="index"
				style="float:left" />
		</h:form>
	</ui:define>

</ui:composition>

</html>