<?xml version='1.0' encoding='UTF-8' ?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="../index.xhtml">

	<ui:define name="content">
		<h:form
			rendered="#{ (request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente')) and vendaBean.venda ne null }">
			<b:panel title="Dados do veículo" collapsible="false"
				rendered="#{ vendaBean.venda.veiculo ne null }">

				<b:inputText mask="9999" placeholder="Ano de Fabricação"
					disabled="true"
					value="#{ vendaBean.veiculoEnvolvido.anoFabricacao }" label="">
					<f:facet name="prepend">
						<b:iconAwesome name="fa-calendar-o" />
					</f:facet>
				</b:inputText>
				<b:inputText mask="AAA-9999" placeholder="Placa do veículo"
					disabled="true" value="#{ vendaBean.veiculoEnvolvido.placa }"
					label="">
					<f:facet name="prepend">
						<b:iconAwesome name="fa-hand-o-right" />
					</f:facet>
				</b:inputText>
				<b:inputText mask="decimal"
					placeholder="Cilidrada [ 1.0 | 1.6 | 2.0 ]" disabled="true"
					value="#{ vendaBean.veiculoEnvolvido.cilidradas }" label="">
					<f:facet name="prepend">
						<b:iconAwesome name="fa-eye" />
					</f:facet>
				</b:inputText>

				<b:inputText placeholder="Chassi do veículo" disabled="true"
					value="#{ vendaBean.veiculoEnvolvido.chassi }" label="">
					<f:facet name="prepend">
						<b:iconAwesome name="fa-modx" />
					</f:facet>
				</b:inputText>
				<b:inputText placeholder="Modelo" disabled="true"
					value="#{ vendaBean.veiculoEnvolvido.modelo.descricao }" label="">
					<f:facet name="prepend">
						<b:iconAwesome name="fa-modx" />
					</f:facet>
				</b:inputText>
			</b:panel>

			<b:panel title="Dados da compra" collapsible="false"
				rendered="#{ vendaBean.venda.veiculo ne null }">
				<b:inputText label="Valor da compra"
					value="#{ vendaBean.partePagamento.compra.preco }" mask="numeric">
					<f:facet name="prepend">
						<b:iconAwesome name="fa-money" />
					</f:facet>
				</b:inputText>
				<b:inputTextarea placeholder="Observações"
					value="#{ vendaBean.partePagamento.compra.observacao }"
					label="Observações" maxlength="200">
					<f:ajax event="keyup" render="label"
						listener="#{ vendaBean.observacaoCompraSize() }" />
				</b:inputTextarea>
				<b:label text="Caracteres restantes: #{ vendaBean.qtdCaracteresCompra }"
					id="label" />
			</b:panel>

			<b:commandButton look="success" action="compra-envolvidas-flow"
				action-listener="#{ vendaBean.addPartePagamentoVeiculo() }"
				style="float:right">
				<b:iconAwesome name="fa-plus" /> Adicionar
			</b:commandButton>
			<b:commandButton look="default" action="compra-envolvidas-flow"
				action-listener="#{ vendaBean.cancelarPartePagamentoVeiculo() }"
				style="float:left">
				<b:iconAwesome name="fa-times" /> Cancelar
			</b:commandButton>
		</h:form>
	</ui:define>

</ui:composition>

</html>