<?xml version='1.0' encoding='UTF-8' ?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../index.xhtml">

	<ui:define name="content">

		<h:form>
			<b:panel title="Placa: #{ vendaBean.venda.veiculo.placa }"
				collapsible="false"
				rendered="#{ (request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente')) and vendaBean.venda ne null }">

				<b:row styleClass="show-grid">
					<b:column col-xs="12" col-sm="6" col-md="8">
						<h2>Veículo escolhido:</h2>
					</b:column>
					<b:column col-xs="12" col-sm="6" col-md="8">
						<p:graphicImage
							value="#{ veiculoBean.image(vendaBean.venda.veiculo.foto)}"
							stream="false" width="100px" height="100px" />
					</b:column>
				</b:row>

				<b:panel title="Pagamentos" collapsible="false"
					rendered="#{ (request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente')) and vendaBean.venda ne null }">

					<b:selectOneMenu label="Forma de pagamento:"
						value="#{ vendaBean.partePagamento.formaPagamento }">
						<f:selectItem itemLabel="Escolha a forma de pagamento"
							itemValue="" />
						<f:selectItems value="#{ vendaBean.getFormasDePagamento() }"
							var="m" itemValue="#{ m }" itemLabel="#{ m.descricao }" />
					</b:selectOneMenu>

					<b:inputText label="Quantia"
						value="#{ vendaBean.partePagamento.quantia }" mask="numeric">
						<f:facet name="prepend">
							<b:iconAwesome name="fa-money" />
						</f:facet>
					</b:inputText>

					<b:commandButton value="Adicionar" icon="add" look="default"
						ajax="true" update="@form @(.editableTable)"
						onclick="ajax:vendaBean.addPartePagamento()" />

					<b:dataTable value="#{ vendaBean.venda.partePagamentoSemVeiculo() }"
						var="parte" class="editableTable"
						rendered="#{ request.isUserInRole('ROLE_Gerente') or request.isUserInRole('ROLE_Vendedor') }"
						customLangUrl="https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json">
						<b:dataTableColumn value="#{ parte.formaPagamento.descricao }"
							style="text-align: center;" label="Forma de Pagamento"/>
						<b:dataTableColumn value="#{ parte.quantia }"
							style="text-align: center;" />
						<b:dataTableColumn label="Ações" style="text-align: center;">
							<b:commandButton icon="remove" ajax="true" update="@form"
								action="#{ vendaBean.setPartePagamento(parte) }"
								oncomplete="$('.modalRemoveClass').modal();" />
						</b:dataTableColumn>
					</b:dataTable>


					<b:modal id="modalDrop"
						title="Deseja remover a forma de pagamento?"
						styleClass="modalRemoveClass">
						<p>Forma de Pagamento: <strong>#{ vendaBean.partePagamento.formaPagamento.descricao }</strong></p>
						<p>Quantia: <strong>#{ vendaBean.partePagamento.quantia }</strong></p>
						<f:facet name="footer">
							<b:button value="Cancelar" dismiss="modal"
								onclick="#{ vendaBean.resetPartePagamento() }"/>
							<b:commandButton value="Ok" look="primary" ajax="true"
								update="@(.editableTable)"
								onclick="ajax:vendaBean.dropPartePagamento()"
								oncomplete="$('.modalRemoveClass').modal('hide');">
							</b:commandButton>
						</f:facet>
					</b:modal>

				</b:panel>

			</b:panel>

			<b:commandButton look="success" value="Próximo"
				action="compra-envolvidas-flow" style="float:right"
				rendered="#{ vendaBean.venda.veiculo ne null }" />
			<b:commandButton action="dados-venda-flow" style="float:left">
				<b:iconAwesome name="fa-arrow-left" /> Anterior
			</b:commandButton>
		</h:form>
	</ui:define>

</ui:composition>

</html>