<?xml version='1.0' encoding='UTF-8' ?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../index.xhtml">

	<ui:define name="content">
		<h2>Resumo</h2>
		<h:form
			rendered="#{ (request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente')) and vendaBean.venda ne null }">
			<b:panel title="Veículo a ser vendido" collapsible="true">
				<b:row>
					<b:column medium-screen="8">
						<h3>
							Ano de Fabricação: <strong>#{
								vendaBean.venda.veiculo.anoFabricacao }</strong>
						</h3>
						<h3>
							Modelo: <strong>#{
								vendaBean.venda.veiculo.modelo.descricao }</strong>
						</h3>
						<h3>
							Chassi: <strong>#{ vendaBean.venda.veiculo.chassi }</strong>
						</h3>
						<h3>
							Cilidradas: <strong>#{
								vendaBean.venda.veiculo.cilidradas }</strong>
						</h3>
						<h3>
							Fabricante: <strong>#{
								vendaBean.venda.veiculo.modelo.fabricante.montadora }</strong>
						</h3>
					</b:column>
					<b:column medium-screen="4">
						<p:graphicImage
							value="#{ veiculoBean.image(vendaBean.venda.veiculo.foto)}"
							stream="false" width="150px" height="150px"
							rendered="#{ vendaBean.venda.veiculo ne null }" />
					</b:column>
				</b:row>
			</b:panel>

			<b:panel title="Dados da venda" collapsible="true">
				<h3>
					Data: <strong>#{ vendaBean.venda.data }</strong>
				</h3>
				<h3>
					Desconto: <strong>#{ vendaBean.venda.desconto }</strong>
				</h3>
				<h3>
					Observações: <strong>#{ vendaBean.venda.observacao }</strong>
				</h3>

				<b:dataTable value="#{ vendaBean.venda.getPartesPagamento() }"
					var="parte" class="editableTable"
					customLangUrl="https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json">
					<b:dataTableColumn style="text-align: center;"
						label="Forma de Pagamento">
						<!-- Causando erro -->
						<h:outputLabel
							rendered="#{ parte.formaPagamento.descricao ne 'VEÍCULO' }">#{ parte.formaPagamento.descricao }</h:outputLabel>
						<h:outputLabel
							rendered="#{ parte.formaPagamento.descricao eq 'VEÍCULO' }">#{ parte.formaPagamento.descricao } - Placa: #{ parte.compra.veiculo.placa } - Modelo #{ parte.compra.veiculo.modelo.descricao } / #{ parte.compra.veiculo.modelo.fabricante.montadora }</h:outputLabel>
					</b:dataTableColumn>
					<b:dataTableColumn label="Quantia" style="text-align: center;" >
						<h:outputLabel rendered="#{ parte.formaPagamento.descricao ne 'VEÍCULO' }">#{ parte.quantia }</h:outputLabel>
						<h:outputLabel rendered="#{ parte.formaPagamento.descricao eq 'VEÍCULO' }">#{ parte.compra.preco }</h:outputLabel>
					</b:dataTableColumn>
				</b:dataTable>
			</b:panel>

			<b:commandButton look="success" value="Salvar"
				action="#{ vendaBean.save() }" style="float:right" />
			<b:commandButton look="warning" value="Anterior"
				action="compra-envolvida-flow" style="float:left" />
		</h:form>
	</ui:define>

</ui:composition>

</html>