<?xml version="1.0" encoding="UTF-8"?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<body>
	<ui:composition>
		<style>
#footer {
	bottom: 0px;
	height: 30px;
	width: 100%;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}
</style>
		<div id="footer">
			Desenvovlido por Eduardo Marçal
			<h:outputLink style="color: inherit;"
				value="https://www.facebook.com/eduardo.marcal.techlife"
				target="_blank">
				<b:iconAwesome name="fa-facebook-official" class="fa fa-cog fa-fw" />
			</h:outputLink>
			<h:outputLink style="color: inherit;"
				value="https://github.com/edumarcal" target="_blank">
				<b:iconAwesome name="fa-github" class="fa fa-cog fa-fw" />
			</h:outputLink>
			<h:outputLink style="color: inherit;"
				value="https://gitlab.com/edumarcal" target="_blank">
				<b:iconAwesome name="fa-gitlab" class="fa fa-cog fa-fw" />
			</h:outputLink>
		</div>
	</ui:composition>
</body>
</html>