<?xml version="1.0" encoding="UTF-8"?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<body>
	<ui:composition>
		<b:row style="display: block; text-align: center">
			<h1>Revenda de Veículos</h1>
		</b:row>
		<b:form inline="true">
			<div class="form-group">
				<h3>
					Bem vindo, ${autenticacaoBean.getUserName()} !
					<b:commandButton class="btn btn-default"
						action="#{autenticacaoBean.logout()}">
						<span class="glyphicon glyphicon-log-out"></span> Sair
					</b:commandButton>
				</h3>
			</div>
		</b:form>

	</ui:composition>
</body>
</html>