<?xml version="1.0" encoding="UTF-8"?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">
<body>
	<ui:composition>
		<b:form>
			<b:navBar>
				<b:navbarLinks>
					<b:navLink href="/fabricantes/index.jsf"
						rendered="#{ request.isUserInRole('ROLE_Gerente') }">
						<b:icon name="cloud" /> Fabricante
                	</b:navLink>
					<b:navLink href="/tipo_veiculos/index.jsf"
						rendered="#{ request.isUserInRole('ROLE_Gerente') }">
						<b:iconAwesome name="group" /> Tipo de Veículo
                	</b:navLink>
					<b:navLink href="/modelos/index.jsf"
						rendered="#{ request.isUserInRole('ROLE_Gerente') }">
						<b:iconAwesome name="fa-modx" /> Modelos
                	</b:navLink>
					<b:dropMenu value="Veículos" iconAwesome="fa-car"
						rendered="#{ request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente') }">
						<b:navLink value="Criar" href="/veiculos/create.jsf"></b:navLink>
						<b:navLink value="Listar" href="/veiculos/list.jsf"></b:navLink>
					</b:dropMenu>
					<b:dropMenu value="Administração" iconAwesome="fa-building"
						rendered="#{ request.isUserInRole('ROLE_Gerente') }">
						<b:navLink href="/funcionarios/index.jsf">
							<b:iconAwesome name="fa-users" /> Funcionário
                		</b:navLink>
						<b:navLink href="/cargos/index.jsf">
							<b:iconAwesome name="fa-pencil-square" /> Cargo
                		</b:navLink>
                		<b:navLink href="/forma_pagamento/index.jsf">
							<b:iconAwesome name="fa-balance-scale" /> Forma de Pagamento
                		</b:navLink>
					</b:dropMenu>
					<b:navLink href="/compra/index.jsf"
						rendered="#{ request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente') }">
						<b:iconAwesome name="fa-search" /> Registrar Compra
                	</b:navLink>
                	<b:navLink href="/venda/index.jsf"
						rendered="#{ request.isUserInRole('ROLE_Vendedor') or request.isUserInRole('ROLE_Gerente') }">
						<b:iconAwesome name="fa-shopping-cart" /> Registrar Venda
                	</b:navLink>
				</b:navbarLinks>
			</b:navBar>
		</b:form>
	</ui:composition>
</body>
</html>