<?xml version='1.0' encoding='UTF-8' ?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:form rendered="#{request.isUserInRole('ROLE_Gerente')}">
	<b:dataTable value="#{ tipoVeiculoBean.list() }" var="t" excel="true"
		csv="true" pdf="true" print="true" class="editableCarTable"
		customLangUrl="https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json">
		<b:dataTableColumn value="#{ t.id }" style="text-align: center;" />
		<b:dataTableColumn value="#{ t.tipo }" style="text-align: center;" />
		<b:dataTableColumn label="Ações" style="text-align: center;">
			<!-- Button Edit -->
			<b:commandButton icon="edit" ajax="true" update="@form"
				action="#{ tipoVeiculoBean.setTipoVeiculo(t) }"
				oncomplete="$('.modalEditClass').modal();" />

			<!-- Button Remove -->
			<b:commandButton icon="remove" ajax="true" update="@form"
				action="#{ tipoVeiculoBean.setTipoVeiculo(t) }"
				oncomplete="$('.modalRemoveClass').modal();" />
		</b:dataTableColumn>
	</b:dataTable>
	<b:modal id="modalDrop" title="Deseja remover o tipo do veículo?"
		styleClass="modalRemoveClass">
		<p>
			Tipo de veículo <strong>#{ tipoVeiculoBean.tipoVeiculo.tipo
				}</strong>
		</p>
		<f:facet name="footer">
			<b:button value="Cancelar" dismiss="modal" />
			<b:commandButton value="Ok" look="primary" ajax="true"
				update="@(.editableCarTable)"
				onclick="ajax:tipoVeiculoBean.drop(#{ tipoVeiculoBean.tipoVeiculo.id })"
				oncomplete="$('.modalRemoveClass').modal('hide');">
			</b:commandButton>
		</f:facet>
	</b:modal>

	<b:modal id="modalEdit" title="Alterar o tipo do veículo?"
		styleClass="modalEditClass">
		<b:inputText value="#{ tipoVeiculoBean.tipoVeiculo.tipo }"
			label="Tipo: " />
		<f:facet name="footer">
			<b:button value="Cancelar" dismiss="modal" />
			<b:commandButton value="Ok" look="primary" ajax="true"
				update="@(.editableCarTable)" onclick="ajax:tipoVeiculoBean.edit()"
				oncomplete="$('.modalEditClass').modal('hide');">
			</b:commandButton>
		</f:facet>
	</b:modal>
</h:form>
</html>