<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<b:form inline="true"
	rendered="#{ request.isUserInRole('ROLE_Gerente') }">
	<b:inputText placeholder="Cargo" required="true"
		value="#{ cargoBean.cargo.cargo }" label="">
		<f:facet name="prepend">
			<b:iconAwesome name="fa-bus" />
		</f:facet>
		<f:facet name="append">
			<b:commandButton value="Criar" look="primary" ajax="true"
				update="@form @(.editableCarTable)" onclick="ajax:cargoBean.save()"
				rendered="#{ cargoBean.cargo.cargo eq null }" />
			<b:commandButton value="Salvar" look="success" ajax="true"
				update="@form @(.editableCarTable)" onclick="ajax:cargoBean.save()"
				rendered="#{ cargoBean.cargo.cargo ne null }" />
		</f:facet>
	</b:inputText>
</b:form>
</html>

