<?xml version='1.0' encoding='UTF-8' ?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
<ui:composition template="../index.xhtml">
	
	<ui:define name="content">
		<ui:include src="create.xhtml" />
		<ui:include src="list.xhtml" />
	</ui:define>
	
</ui:composition>

</html>