<?xml version='1.0' encoding='UTF-8' ?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:form rendered="#{ request.isUserInRole('ROLE_Gerente') }">
	<b:dataTable value="#{ cargoBean.list() }" var="c" excel="true"
		csv="true" pdf="true" print="true" class="editableTable"
		customLangUrl="https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json">
		<b:dataTableColumn value="#{ c.id }" style="text-align: center;" />
		<b:dataTableColumn value="#{ c.cargo }" style="text-align: center;" />
		<b:dataTableColumn label="Ações" style="text-align: center;">
			<!-- Button Edit -->
			<b:commandButton icon="edit" update="@form"
				action="#{ cargoBean.setCargo(c) }"
				oncomplete="@form" />
			<!-- Button Remove -->
			<b:commandButton icon="remove" ajax="true" update="@form"
				action="#{ cargoBean.setCargo(c) }"
				oncomplete="$('.modalRemoveClass').modal();" />
		</b:dataTableColumn>
	</b:dataTable>
	<b:modal id="modalDrop" title="Deseja remover o cargo?"
		styleClass="modalRemoveClass">
		<p>
			Cargo: <strong>#{ cargoBean.cargo.cargo }</strong>
		</p>
		<f:facet name="footer">
			<b:button value="Cancelar" dismiss="modal"
				onclick="#{ cargoBean.resetObject() }" />
			<b:commandButton value="Ok" look="primary" ajax="true"
				update="@(.editableTable)"
				onclick="ajax:cargoBean.drop(#{ cargoBean.cargo.id })"
				oncomplete="$('.modalRemoveClass').modal('hide');">
			</b:commandButton>
		</f:facet>
	</b:modal>
</h:form>
</html>