<?xml version="1.0" encoding="UTF-8"?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
    <ui:composition>
        <b:form inline="true" rendered="#{request.isUserInRole('ROLE_Gerente')}">
            <b:formGroup>
                <b:selectOneMenu colMd="2" labelColMd="2" label="" value="#{ modeloBean.modelo.fabricante }">
                    <f:selectItem itemLabel="Escolha o fabricante" itemValue="" />
                    <f:selectItems value="#{ modeloBean.allFabricantes }" var="f" itemValue="#{ f }" itemLabel="#{ f.montadora }" />
                </b:selectOneMenu>
            </b:formGroup>
            <b:formGroup>
                <b:selectOneMenu colMd="2" labelColMd="2"  label="" value="#{ modeloBean.modelo.tipoVeiculo }">
                    <f:selectItem itemLabel="Escolha o tipo do veículo: " itemValue="" />
                    <f:selectItems value="#{ modeloBean.allTipoVeiculos }" var="t" itemValue="#{ t }" itemLabel="#{ t.tipo }" />
                </b:selectOneMenu>
            </b:formGroup>
            <b:inputText placeholder="Modelo do veículo" required="true" size="30" value="#{ modeloBean.modelo.descricao }" label="">
                <f:facet name="prepend">
                    <b:iconAwesome name="fa-modx"/>
                </f:facet>
                <f:facet name="append">
                    <b:commandButton value="Criar" look="primary" ajax="true" update="@form @(.editableCarTable)" onclick="ajax:modeloBean.save()" />
                </f:facet>
            </b:inputText>
        </b:form>
    </ui:composition>
</body>
</html>