<?xml version="1.0" encoding="UTF-8"?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
    <ui:composition>
        <h:form rendered="#{request.isUserInRole('ROLE_Gerente')}">
            <b:dataTable value="#{ modeloBean.list() }"
                         var="m"
                         excel="true"
                         csv="true"
                         pdf="true"
                         print="true"
                         class="editableCarTable"
                         customLangUrl="https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json">
                <b:dataTableColumn value="#{ m.id }" style="text-align: center;"/>
                <b:dataTableColumn value="#{ m.descricao }" label="Descrição" style="text-align: center;" />
                <b:dataTableColumn value="#{ m.fabricante.montadora }" style="text-align: center;" />
                <b:dataTableColumn value="#{ m.tipoVeiculo.tipo }" style="text-align: center;" />
                <b:dataTableColumn label="Ações" style="text-align: center;">
                    <!-- Button Edit -->
                    <b:commandButton icon="edit" ajax="true" update="@form"
                                     action="#{ modeloBean.setModelo(m) }" oncomplete="$('.modalEditClass').modal();" />
                    
                    <!-- Button Remove -->
                    <b:commandButton icon="remove" ajax="true" update="@form"
                                     action="#{ modeloBean.setModelo(m) }" oncomplete="$('.modalRemoveClass').modal();" />
               </b:dataTableColumn>
            </b:dataTable>
            <b:modal id="modalDrop" title="Deseja remover o modelo do veículo?" styleClass="modalRemoveClass">
                <p>Modelo de veículo <strong>#{ modeloBean.modelo.descricao }</strong></p>
                <p>Fabricante <strong>#{ modeloBean.modelo.fabricante.montadora }</strong></p>
                <p>Tipo de veículo <strong>#{ modeloBean.modelo.tipoVeiculo.tipo }</strong></p>
                <f:facet name="footer">
                    <b:button value="Cancelar" dismiss="modal" />
                     <b:commandButton value="Ok" look="primary" ajax="true" update="@(.editableCarTable)"
                                      onclick="ajax:modeloBean.drop(#{ modeloBean.modelo.id })" oncomplete="$('.modalRemoveClass').modal('hide');">
                    </b:commandButton>
                </f:facet>
            </b:modal>

            <b:modal id="modalEdit" title="Alterar o modelo do veículo?" styleClass="modalEditClass">
                <b:inputText value="#{ modeloBean.modelo.descricao }" label="Modelo: " />
                <b:formGroup span="3">
    	            <b:selectOneMenu label="Fabricante:" value="#{ modeloBean.modelo.fabricante }">
    	                <f:selectItem itemLabel="Escolha o fabricante" itemValue="" />
    	                <f:selectItems value="#{ modeloBean.allFabricantes }" var="f" itemValue="#{ f }" itemLabel="#{ f.montadora }" />
    	            </b:selectOneMenu>
    	        </b:formGroup>
    	        <b:formGroup span="3">
    	            <b:selectOneMenu label="Tipo de veículo:" value="#{ modeloBean.modelo.tipoVeiculo }">
    	                <f:selectItem itemLabel="Escolha o tipo do veículo: " itemValue="" />
    	                <f:selectItems value="#{ modeloBean.allTipoVeiculos }" var="t" itemValue="#{ t }" itemLabel="#{ t.tipo }" />
    	            </b:selectOneMenu>
    	        </b:formGroup>
                <f:facet name="footer">
                    <b:button value="Cancelar" dismiss="modal" />
                    <b:commandButton value="Ok" look="primary" ajax="true" update="@(.editableCarTable)"
                                      onclick="ajax:modeloBean.save()" oncomplete="$('.modalEditClass').modal('hide');">
                    </b:commandButton>
                </f:facet>
            </b:modal>
        </h:form>
    </ui:composition>
</body>
</html>