<?xml version="1.0" encoding="UTF-8"?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Sistema de Revenda de Veículo</title>
</h:head>
<h:body>
	<style>
		html, body {
			height: 100%;
		}
		.container{
			min-height: 100%;
		}
		@media (max-width: 720px) {
		    .container {
		        padding: 0;
		    }
		}
	</style>
	<b:container>
		<ui:insert name="header">
			<ui:include src="layout/header.xhtml" />
		</ui:insert>

		<ui:insert name="nav">
			<ui:include src="layout/nav.xhtml" />
		</ui:insert>

		<ui:insert name="content"></ui:insert>

	</b:container>
	<ui:insert name="footer">
		<ui:include src="layout/footer.xhtml" />
	</ui:insert>
</h:body>
</html>