<?xml version="1.0" encoding="UTF-8"?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Sistema de Revenda de Veículo</title>
	<style type="text/css">
.elements {
	text-align: center;
	width: 10%;
	min-width: 30px;
	margin: auto;
}
</style>
</h:head>
<h:body>
	<h:messages rendered="#{param.error}" />
	<h:form style="width: 30%; display: block; margin: 15% auto 20% auto;">
		<b:row style="display: block; text-align: center">
			<b:image value="../images/logo.png" tooltip="Logo TCC"
				style="width:30%" />
		</b:row>
		<b:inputText name="username" placeholder="CPF" mask="999.999.999-99"
			styleClass="elements">
			<f:facet name="prepend">
				<b:icon name="user" />
			</f:facet>
		</b:inputText>
		<b:inputSecret name="password" placeholder="Senha" styleClass="elements">
			<f:facet name="prepend">
				<b:iconAwesome name="key" />
			</f:facet>
		</b:inputSecret>
		<b:commandButton look="primary btn-block" value="Login"
			ajax="false">
			<b:iconAwesome name="fa-sign-in" />
		</b:commandButton>
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" hidden="true"/>

	</h:form>
</h:body>
</html>