<?xml version="1.0" encoding="UTF-8"?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
	<ui:composition>
		<b:form inline="true"
			rendered="#{ request.isUserInRole('ROLE_Gerente') }">
			<b:inputText required="true" size="40"
				value="#{ usuarioBean.usuario.nome }" placeholder="Novo Funcionário"
				label="">
				<f:facet name="prepend">
					<b:iconAwesome name="fa-car" />
				</f:facet>
			</b:inputText>
			<b:inputText mask="999.999.999-99" placeholder="CPF" required="true"
				value="#{ usuarioBean.usuario.cpf }" label="">
				<f:facet name="prepend">
					<b:iconAwesome name="fa-id-card" />
				</f:facet>
			</b:inputText>
			<b:inputText placeholder="Telefone" mask="(99) 9 9999-9999"
				required="true" value="#{ usuarioBean.usuario.telefone }" label=""
				style-class="phone">
				<f:facet name="prepend">
					<b:iconAwesome name="phone" />
				</f:facet>
			</b:inputText>

			<b:inputSecret placeholder="Senha" required="true"
				value="#{ usuarioBean.usuario.senha }" label=""
				rendered="#{ usuarioBean.usuario.senha eq null }">
				<f:facet name="prepend">
					<b:iconAwesome name="key" />
				</f:facet>
			</b:inputSecret>
			 <b:selectBooleanCheckbox value="#{ usuarioBean.usuario.status }"
				caption="ativo" label="Deseja ativar o usuário?" />

			<b:selectOneMenu label="Cargo:"
				value="#{ usuarioBean.usuario.cargo }"
				rendered="#{ usuario.usuario.cargo ne null }">
				<f:selectItem itemLabel="Escolha o cargo"
					itemValue="#{ usuarioBean.usuario.cargo }" />
				<f:selectItems value="#{ usuarioBean.getCargos() }" var="c"
					itemValue="#{ c }" itemLabel="#{ c.cargo }" />
			</b:selectOneMenu>

			<b:selectOneMenu label="Cargo:"
				value="#{ usuarioBean.usuario.cargo }"
				rendered="#{ usuario.usuario.cargo eq null }">
				<f:selectItem itemLabel="Escolha o cargo" itemValue="" />
				<f:selectItems value="#{ usuarioBean.getCargos() }" var="c"
					itemValue="#{ c }" itemLabel="#{ c.cargo }" />
			</b:selectOneMenu>
			<!--
			<b:commandButton value="Criar" look="primary"
				ajax="true" update="@form @(.editableTable)"
				onclick="alert($('.phone').val().replace(/[^\d]+/g,'')));" />
-->
			<b:commandButton value="Criar" look="primary" ajax="true"
				update="@form @(.editableTable)" onclick="ajax:usuarioBean.save()"
				rendered="#{ usuarioBean.flagEdit eq false }" />
			<b:commandButton value="Salvar" look="success" ajax="true"
				update="@form @(.editableTable)" onclick="ajax:usuarioBean.save()"
				rendered="#{ usuarioBean.flagEdit eq true }" />
			<b:commandButton value="Limpar" look="warning" ajax="true"
				update="@form" onclick="ajax:usuarioBean.resetObject()" />
		</b:form>
		<script>
			function removeMaskPhone() {
				let phone = $('.phone').val().replace(/[^\d]+/g, '');
				/*$('.phone').val(phone);*/
				$('.phone').attr('value', phone);
			}
			/*$('.phone').val($('.phone').val().replace(/[^\d]+/g,''))*/
		</script>
	</ui:composition>
</body>
</html>