<?xml version="1.0" encoding="UTF-8"?>
<!-- Agradeço a DEUS pelo dom do conhecimento -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
	<ui:composition>
		<h:form>
			<b:dataTable value="#{ usuarioBean.list() }" var="user" excel="true"
				csv="true" pdf="true" print="true" class="editableTable"
				rendered="#{ request.isUserInRole('ROLE_Gerente') }"
				customLangUrl="https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json">
				<b:dataTableColumn value="#{ user.id }" style="text-align: center;" />
				<b:dataTableColumn value="#{ user.nome }"
					style="text-align: center;" />
				<b:dataTableColumn value="#{ user.cpf }" style="text-align: center;" />
				<b:dataTableColumn value="#{ user.telefone }"
					style="text-align: center;" />
				<b:dataTableColumn label="Status" style="text-align: center;">
					<p>#{ user.status ? 'ATIVO' : 'DESATIVADO' }</p>
				</b:dataTableColumn>
				<b:dataTableColumn value="#{ user.cargo.cargo }"
					style="text-align: center;" />
				<b:dataTableColumn label="Ações" style="text-align: center;">
					<!-- Button Edit -->
					<b:commandButton icon="edit" ajax="false"
						update="@(.editableTable)"
						action="#{ usuarioBean.setUsuario(user) }"
						oncomplete="@form"
						disabled="#{ user.nome eq autenticacaoBean.getUserName() }"/>
					<!-- Button Remove -->
					<b:commandButton icon="remove" ajax="true" update="@form"
						action="#{ usuarioBean.setUsuario(user) }"
						oncomplete="$('.modalRemoveClass').modal();"
						disabled="#{ user.nome eq autenticacaoBean.getUserName() }"/>
				</b:dataTableColumn>
			</b:dataTable>
			<b:modal id="modalDrop" title="Deseja remover o funcionário?"
				styleClass="modalRemoveClass">
				<p>
					Nome: <strong>#{ usuarioBean.usuario.nome }</strong>
				</p>
				<p>
					CPF: <strong>#{ usuarioBean.usuario.cpf }</strong>
				</p>
				<p>
					Telefone: <strong>#{ usuarioBean.usuario.telefone }</strong>
				</p>
				<p>
					Status: <strong>#{ usuarioBean.usuario.status ? 'ATIVO' :
						'DESATIVADO' }</strong>
				</p>
				<p>
					Cargo: <strong>#{ usuarioBean.usuario.cargo.cargo }</strong>
				</p>
				<f:facet name="footer">
					<b:button value="Cancelar" dismiss="modal" 
						onclick="#{ usuarioBean.resetObject() }" />
					<b:commandButton value="Ok" look="primary" ajax="true"
						update="@(.editableTable)"
						onclick="ajax:usuarioBean.drop(#{usuaBean.usuario.id})"
						oncomplete="$('.modalRemoveClass').modal('hide');">
					</b:commandButton>
				</f:facet>
			</b:modal>
		</h:form>
	</ui:composition>
</body>
</html>